<div class="row">
	<div class="container-fluid">
		<h1 align="center">What is this website?</h1>
	</div>
</div>

<div class="container">
	<div class="row">	
		<div class="col-md-12">
			<h3> MonthlyWe created by users-for users.</h3>
			<p> MonthlyWe is a website completely driven and developed through user feedback. Every month, our staff work to create the top voted feature for this site. </p>
		</div>
	</div>
</div>