<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h1> Welcome to the Monthly We </h1>
			<p>Vote on your top ideas for what this site should be and we implement the top voted feature, Monthly</p>
			<%= link_to "Get Started Here", posts_path, class: 'btn btn-primary' %>
		</div>
	</div>
</div>
